<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库配置 dbType可选MsSql MySql Access -->
    <add key="isOpenShift" value="false"/>
    <add key="dbType" value="MsSql"/>
    <add key="dbServer" value="."/>
    <add key="dbPort" value=""/>
    <add key="dbUser" value="sa"/>
    <add key="dbPwd" value="li"/>
    <add key="dbName" value="json2csharp"/>

  </appSettings>
</configuration>