<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--数据库配置 dbType可选MsSql MySql Access -->
  <add key="isOpenShift" value="false"/>
  <add key="dbType" value="MySql"/>
  <add key="dbServer" value="127.0.0.1"/>
  <add key="dbPort" value=""/>
  <!--<add key="dbUser" value="sa"/>
  <add key="dbPwd" value="li"/>-->
    <add key="dbUser" value="sa"/>
    <add key="dbPwd" value="li"/>
  <add key="dbName" value="json2csharp"/>
  </appSettings>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
